<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerCellClass</key>
        <string>MNAHeader</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>MAIN_PREFERENCES</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>noads</string>
        <key>label</key>
        <string>NO_ADS</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>disablereadreceipt</string>
        <key>label</key>
        <string>DISABLE_READ_RECEIPT</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>disabletypingindicator</string>
        <key>label</key>
        <string>DISABLE_TYPING_INDICATOR</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>disablestoryseenreceipt</string>
        <key>label</key>
        <string>DISABLE_STORY_SEEN_RECEIPT</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>cansavefriendsstory</string>
        <key>label</key>
        <string>CAN_SAVE_FRIENDS_STORY</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>hidesearchbar</string>
        <key>label</key>
        <string>HIDE_SEARCH_BAR</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>hidestoriesrow</string>
        <key>label</key>
        <string>HIDE_STORIES_ROW</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>hidepeopletab</string>
        <key>label</key>
        <string>HIDE_PEOPLE_TAB</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <!-- Reset Settings -->
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>OTHER_PREFERENCES</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>label</key>
        <string>RESET_SETTINGS</string>
        <key>action</key>
        <string>resetSettings:</string>
      </dict>

      <!-- Support Me -->
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>SUPPORT_ME</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>label</key>
        <string>Hao Nguyen 👨🏻‍💻</string>
        <key>sublabel</key>
        <string>@haoict</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>https://twitter.com/haoict</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>label</key>
        <string>DONATION</string>
        <key>sublabel</key>
        <string>BUY_ME_A_COFFEE</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>https://paypal.me/haoict</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>label</key>
        <string>FEATURE_REQUEST</string>
        <key>sublabel</key>
        <string>SEND_ME_AN_EMAIL_WITH_YOUR_REQUEST</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>mailto:hao.ict56@gmail.com?subject=Messenger%20No%20Ads%20Feature%20Request</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>label</key>
        <string>SOURCE_CODE</string>
        <key>sublabel</key>
        <string>Github</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>https://github.com/haoict/messenger-no-ads</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>label</key>
        <string>FOUND_A_BUG</string>
        <key>sublabel</key>
        <string>LEAVE_A_BUG_REPORT_ON_GITHUB</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>https://github.com/haoict/messenger-no-ads/issues/new</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>Messenger No Ads, Made With ❤️</string>
        <key>isStaticText</key>
        <true/>
      </dict>

    </array>
    <key>title</key>
    <string>Messenger No Ads</string>
  </dict>
</plist>
