<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerCellClass</key>
        <string>MNAHeader</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Main Preferences</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>noads</string>
        <key>label</key>
        <string>No Ads</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>disablereadreceipt</string>
        <key>label</key>
        <string>Disable Read Receipt</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>disabletypingindicator</string>
        <key>label</key>
        <string>Disable Typing Indicator</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>disablestoryseenreceipt</string>
        <key>label</key>
        <string>Disable Story Seen Receipt</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>hidesearchbar</string>
        <key>label</key>
        <string>Hide Search Bar (iOS 12 only)</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>hidestoriesrow</string>
        <key>label</key>
        <string>Hide Stories Row</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.haoict.messengernoadspref</string>
        <key>key</key>
        <string>hidepeopletab</string>
        <key>label</key>
        <string>Hide People Tab</string>
        <key>PostNotification</key>
        <string>com.haoict.messengernoadspref/PrefChanged</string>
      </dict>

      <!-- Reset Settings -->
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Other Preferences</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>label</key>
        <string>Reset Settings</string>
        <key>action</key>
        <string>resetSettings:</string>
      </dict>

      <!-- Support Me -->
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Support Me</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>label</key>
        <string>Hao Nguyen 👨🏻‍💻</string>
        <key>sublabel</key>
        <string>@haoict</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>https://twitter.com/haoict</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>label</key>
        <string>Donation 💰</string>
        <key>sublabel</key>
        <string>Buy me a coffee</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>https://paypal.me/haoict</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>label</key>
        <string>Feature Request? ✨</string>
        <key>sublabel</key>
        <string>Send Me An Email With Your Request</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>mailto:hao.ict56@gmail.com?subject=Messenger%20No%20Ads%20Feature%20Request</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>label</key>
        <string>Source Code 🤖</string>
        <key>sublabel</key>
        <string>Github</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>https://github.com/haoict/messenger-no-ads</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>label</key>
        <string>Found A Bug? 🐛</string>
        <key>sublabel</key>
        <string>Leave A Bug Report on Github</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>https://github.com/haoict/messenger-no-ads/issues/new</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>Messenger No Ads, Made With ❤️</string>
        <key>isStaticText</key>
        <true/>
      </dict>

    </array>
    <key>title</key>
    <string>Messenger No Ads</string>
  </dict>
</plist>
